body {
  font-family: Helvetica;
  text-align: center;
}

.broadwaytitle {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.mainlinks {
  font-size: 18px;
  color: white;
}

.background {
  background-image: url("./resources/the-flatiron-building.png");
}

.mainheaders {
  font-size: 32px;
  font-weight: bold;
}

.paragraphs {
  font-size: 14px;
}

.newyork {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image:url("./resources/the-flatiron-building.png");
}

.trademark {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
